<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!-- Database connection settings -->
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/erproject</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">wizard</property>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <!-- JDBC connection pool (use the built-in) -->
    <!-- Echo all executed SQL to stdout -->
    <property name="show_sql">true</property>
    <mapping class="" file="" jar="" package="" resource="s6/callCenter/modele/Article.hbm.xml"/>
    <mapping class="" file="" jar="" package="" resource="s6/callCenter/modele/Bon.hbm.xml"/>
    <mapping class="" file="" jar="" package="" resource="s6/callCenter/modele/Client.hbm.xml"/>
    <mapping class="" file="" jar="" package="" resource="s6/callCenter/modele/Famille.hbm.xml"/>
    <mapping class="" file="" jar="" package="" resource="s6/callCenter/modele/Fournisseur.hbm.xml"/>
    <mapping class="" file="" jar="" package="" resource="s6/callCenter/modele/Inventaire.hbm.xml"/>
    <mapping class="" file="" jar="" package="" resource="s6/callCenter/modele/Projet.hbm.xml"/>
    <mapping class="" file="" jar="" package="" resource="s6/callCenter/modele/Unite.hbm.xml"/>
    <mapping class="" file="" jar="" package="" resource="s6/callCenter/modele/User.hbm.xml"/>
    <mapping class="" file="" jar="" package="" resource="s6/callCenter/modele/Departement.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
